<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{ingredients}}</p>
  <p>{{instructions}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <button class="btn btn-primary">Edit this recipe</button>
  </p>
</div>