    <div class="container mt-5">
      <br>
      <div class="card" style="width: 100%;">
  {{!-- <img class="card-img-top" src={{description}} alt=""> --}}
  <div class="card-body">
    <h4 class="card-title">{{recipe.name}}</h4>
    <p class="card-text">{{recipe.description}}</p>
    <h5>Ingredients</h5>
    <p class="card-text">{{recipe.ingredient.ingredient}}</p>
    <h5>Instructions</h5>
    <p class="card-text">{{recipe.instruction.instructions}}</p>
  </div>
</div>
